<header><h1 class="display-4">Listed Instructors</h1></header>

<div class="card">
  <div class="card-block">
    <ul>
      <% @instructors.each do |instructor| %>
        <fieldset class="form-group">
          <h3><%= link_to instructor.name, instructor_path(instructor) %></h3>
          <p><%= instructor.address %></p>
          <p><%= instructor.car %></p>
        </fieldset>

        <% if instructor.manual? && instructor.auto?  %>
          <p>Manual And Auto</p>
        <% elsif instructor.manual? %>
          <P>Manual<p>
        <% elsif instructor.auto? %>
          <p>Auto</p>
        <% else %>
          <p>Unknown Gearbox</P>
        <% end %>
        <hr>
      <% end %>
    </ul>
  </div>
</div>
